@font-face {
  src: url("../assets/roboto-regular.woff") format("woff");
  font-family: "Roboto";
}

.container {
  display: flex;
  flex-direction: column;  
  align-items: center;      
  justify-content: center;  
  margin-top: 40px;
  gap: 20px; 
}

.animal-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.text {
  font-size: 18px;
  text-align: center;
}
